<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="background.html">Background</a>
      </li>
      <li>
        <a href="tooling.html">IG Tooling</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="using-templates.html">Using the HL7 Templates</a>
      </li>
      <li>
        <a href="best-practice.html">IG Best Practices</a>
      </li>
      <li>
        <a href="terminology.html">Working with Terminology</a>
      </li>
      <li>
        <a href="sql.html">Working with SQL</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Customization<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="template.html">Extending the HL7 IG Templates</a>
      </li>
      <li>
        <a href="colors.html">Changing colors in the template</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
